@import '../../assets/styles/mixins.scss';

.Home {
    padding: rem(32) rem(16);

    &__PostList,
    &__PostListTest {
        margin: rem(32) 0 0;
    }

    &__Text {
        margin: rem(32) 0 0;
        text-align: right;
    }

    &__TextLink {
        display: table;
        margin-left: auto;
    }
}
