@import '../../assets/styles/mixins.scss';

.ProfileForm {

    &__Avatar {
        max-width: rem(120);

        & + .ProfileForm__FormItem {
            margin-top: rem(16);
        }
    }

    &__FormItem {

        & + .ProfileForm__FormItem {
            margin-top: rem(16);
        }
    }

    &__Button {
        width: 100%;
        margin-top: rem(32);
    }
}
