// Vars:

// Fonts:

$font_normal: "Roboto Mono", sans-serif;
$font_bold: "Roboto Mono", sans-serif;

// Colors:

$color_black: black;
$color_white: white;
$color_red: red;
$color_gray: lightgray;

$color_selection: $color_red;

// Transitions:

$trans_sm: .1s ease;
$trans_md: .5s ease;
